<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
	<a href="{% url 'post_new' %}">Add more<span class="glyphicon glyphicon-plus"></span></a>
	<br><br>
	<a href="dist1.html">District 1</a>
	<br><br>
	<a href="dist2.html">District 2</a>
	<br><br>
	<a href="dist3.html">District 3</a>
	<br><br>
	<a href="dist4.html">District 4</a>
</body>

</html>